body {
	text-align: center;
}

.div_dynamic {
	width: 250px;
	height: 320px;
	background-color: #8587A5;
	color: white;
	font-size: 25px;
	border: 2px solid #988C8A;
	padding: 15px;
	margin: 10px;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	border-radius: 20px;

}


.img_style {

	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.div_dynamic:hover {
	background-color: aqua;
}

#content .img_style {
	width: 200px;
	height: 200px;
}

#cardContent .img_style {
	width: 150px;
	height: 150px;
}

#subcontent .img_style {
	width: 150px;
	height: 150px;
}

div h4 {
	display: inline-block;
	margin: 20px 10px;
	padding: 0px 10;
}

button {
	width: 180px;
	height: 40px;
	color: black;
	border-radius: 20px;
	font-size: 20px;
	color: white;
	background-color: #AB5692;
}

button:hover {
	background-color: #4F77C1;
}

p {
	margin: 0;
}

.pr_style {
	text-decoration-line: line-through;
	color: dimgray;
}

#content p {
	padding: 20px;
	font-size: 25px;
	font-weight: bold;
	color: #2428AB;
}

///////////////////////
header {

	height: 80px;
	background-color: rgb(1, 25, 26);
	position: relative;
	margin-left: 100px;
	margin-right: 100px;
}

.head span {
	margin-left: 20px;
}

.head {
	display: inline-block;
	color: white;
}

#one {
	position: absolute;
	top: 20px;
	left: 20px;
}

#two {
	position: absolute;
	top: 20px;
	left: 600px;
}

#three {
	position: absolute;
	top: 20px;
	right: 40px;
}

section {

	position: relative;
	margin-left: 100px;
	margin-right: 100px;

}

.art1 {
	display: block;
}

#art1 {
	position: absolute;
	left: 100px;
	right: 100px;
	top: 50px
}

#art2 {
	position: absolute;
	left: 100px;
	right: 100px;
	top: 300px
}

#art2 h1 {
	text-align: center;
	font-size: 40px;
	font-family: 'Abril Fatface', cursive;
}

.gall {
	width: 1000px;
}

div.gallery {
	margin: 20px;
	border: 1px solid #ccc;
	float: left;
	width: 400px
}

div.desc {
	padding: 15px;
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
	color: white;
	background-color: rgb(1, 25, 26);
	opacity: 0.4;

}

div.desc:hover {
	opacity: 0.8;
}

footer {
	background-color: #8587A5;
	position: relative;
	margin-left: 40px;
	margin-right: 40px;
	height: 200px;

}

.footer {
	display: inline-block;
	/* //position: absolute; */

}

#footer1 ul {
	list-style: none;
	position: absolute;
	left: 100px;
}

.footer ul li {
	margin-top: 10px;
}

.footer a,
.head a {
	text-decoration: none;
	color: white;

}

.footer ul a:hover,
.head a:hover {
	color: black;
}

#footer2 ul {
	list-style: none;
	position: absolute;
	left: 500px;
}

#footer3 ul {
	list-style: none;
	position: absolute;
	left: 900px;
}

/*form style*/
input {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	background-color: white;
	padding: 20px;
	width: 80%;
}

.no-outline:focus {
	outline: none;
}

.form_style {
	margin: 30px;
	padding: 30px;
}

.button_style {
	width: 80%;
	height: 60px;
	margin-top: 50px;
	background-color: green;
	color: white;
	justify-content: center;
	float: center;

}

img {
	padding: 0;
	margin: 0;
	position: relative;
}
