body{
	text-align: center;
}
.div_dynamic{
	width: 250px;
	height: 320px;
	background-color: #8587A5;
	color: white;
	font-size: 25px;
	border: 2px solid #988C8A;
	padding: 15px;
	margin: 10px;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	border-radius: 20px;
	
}

.img_style{
	
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.div_dynamic:hover{
	background-color: aqua;
}

#content .img_style{
	width: 200px;
	height: 200px;
}
#subcontent .img_style{
	width: 150px;
	height: 150px;
}
div h4{
	display: inline-block;
	margin: 20px 10px;
	padding: 0px 10;
}
button{
	width: 180px;
	height: 40px;
	color: black;
	border-radius: 20px;
	font-size: 20px;
	color: white;
	background-color: #AB5692;
}
button:hover{
	background-color: #4F77C1;
}
p{
	margin: 0;
}
.pr_style{
	text-decoration-line: line-through;
	color: dimgray;
}
#content p{
	padding: 20px;
	font-size: 25px;
	font-weight: bold;
	color: #2428AB ;
}

///////////////////////
